In [33]:
import os as os

In [34]:
os.chdir("C:\\Users\\litle\\OneDrive\\Desktop\\woking direectory")

In [35]:
os.getcwd()

'C:\\Users\\litle\\OneDrive\\Desktop\\woking direectory'

In [36]:
os.listdir()

['IRIS.csv',
 'Iris.xls',
 'mtcars.csv',
 'snsdata.csv',
 'Super Store.csv',
 'train.csv']

# INSTALL/IMPORTING PACKAGES TO BE USED

In [37]:
import warnings
import itertools
import numpy as np
import pandas as pd
import statsmodels.api as sm

In [38]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\litle\anaconda3\lib\site-packages (3.2.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\litle\anaconda3\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: numpy>=1.11 in c:\users\litle\anaconda3\lib\site-packages (from matplotlib) (1.18.5)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\litle\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\litle\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\litle\anaconda3\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: six in c:\users\litle\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.15.0)

In [39]:
import matplotlib
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore")
plt.style.use("fivethirtyeight")
matplotlib.rcParams["axes.labelsize"]=14
matplotlib.rcParams["xtick.labelsize"]=12
matplotlib.rcParams["ytick.labelsize"]=12
matplotlib.rcParams["text.color"]="k"

# READING THE TIME SERIES DATA

In [40]:
#READ THE DATASET
furniture = pd.read_csv("Super Store.csv", encoding="cp1252")

In [41]:
furniture.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
3,6,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
4,11,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables,1706.1840,9,0.20,85.3092

In [42]:
#CHECKING THE DIMENSION OF THE TIME SERIES DATA
furniture.shape

(2121, 21)

In [57]:
#CHECKING THE STR/CHARACTER TYPE VARIABLES
furniture.describe(include="O")

       Order Date
count         889
unique        889
top      5/4/2017
freq            1

In [58]:
#
furniture.describe(include="Float64")

              Sales
count    889.000000
mean     834.645439
std     1015.317163
min        1.988000
25%      173.940000
50%      493.920000
75%     1128.390000
max    10006.174000

In [59]:
#CHECKING THE NUMERIC AND INTEGER VARIABLES
furniture.describe(include="int64")

ValueError: No objects to concatenate

In [60]:
furniture.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Order Date  889 non-null    object
 1   Sales       889 non-null    float64
dtypes: float64(1), object(1)
memory usage: 14.0+ KB

In [61]:
furniture["Order Date"].min(), furniture["Order Date"].max()

('1/1/2017', '9/9/2017')

In [62]:
furniture

    Order Date      Sales
0     1/1/2017   975.4900
1    1/10/2014    51.9400
2    1/10/2015  1018.1040
3    1/10/2016   104.7700
4    1/11/2014     9.9400
..         ...        ...
884   9/8/2016  3374.9816
885   9/8/2017  1000.2390
886   9/9/2014   864.0240
887   9/9/2016    15.0080
888   9/9/2017   482.5640

[889 rows x 2 columns]

In [63]:
cols= ["Row ID", "Order ID", "Ship ID","Ship Mode","Customer ID", "Customer Name", "Segment", "Country", "City","State", "Postal Code", "Region", "Product ID", "Category", "Sub Category", "Product Name", "Sales", "Quantity", "Discount", "Profit"]
furniture.drop(cols, axis=1, inplace=True)
furniture= furniture.sort_values("Order Date")
furniture.isnull().sum()

KeyError: "['Row ID' 'Order ID' 'Ship ID' 'Ship Mode' 'Customer ID' 'Customer Name'\n 'Segment' 'Country' 'City' 'State' 'Postal Code' 'Region' 'Product ID'\n 'Category' 'Sub Category' 'Product Name' 'Quantity' 'Discount' 'Profit'] not found in axis"

In [64]:
furniture= furniture.groupby('Order Date')["Sales"].sum().reset_index()

In [65]:
y= furniture["Sales"]

In [66]:
furniture.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Order Date  889 non-null    object
 1   Sales       889 non-null    float64
dtypes: float64(1), object(1)
memory usage: 14.0+ KB

In [67]:
furniture.describe()

              Sales
count    889.000000
mean     834.645439
std     1015.317163
min        1.988000
25%      173.940000
50%      493.920000
75%     1128.390000
max    10006.174000