In [5]:
def hello_world_enterprise_edition(username, greeting_phrase="hello "):
    return greeting_phrase + username

In [7]:
print(hello_world_enterprise_edition("peter"))
print(hello_world_enterprise_edition("peter","good morning "))

hello peter
good morning peter

In [8]:
def sum_numbers(*args):
    print(type(args))

In [9]:
sum_numbers(1,2,3)

<class 'tuple'>

In [11]:
sports= ['football','voleyball','basketball','hockey']

In [18]:
for f in sports[:3]:
     print(f)
     print(len(f))

football
8
voleyball
9
basketball
10

In [21]:
for x in range(12):
   print("Tamil")

Tamil
Tamil
Tamil
Tamil
Tamil
Tamil
Tamil
Tamil
Tamil
Tamil
Tamil
Tamil

In [ ]:
for x in range(10,80,5):
    print(x)

In [32]:
tamil = 5

In [35]:
while tamil < 10:
    print(tamil)
    tamil=tamil+1

5
6
7
8
9

In [49]:
tamil = 45

In [50]:
while tamil > 50:
    print(tamil)
    tamil = tamil+1