In [1]:
income = 10000

In [2]:
print(income)

10000

In [3]:
love= 0000000

In [4]:
print (love)

0

In [5]:
total_area=12345

In [6]:
print(total_area)

12345

In [7]:
income_per_unit_area= income/total_area

In [8]:
print(income_per_unit_area)

0.8100445524503848

In [9]:
type(income_per_unit_area)

float

In [10]:
type(income)

int

In [11]:
type(love)

int

In [12]:
name="Tamil"

In [13]:
print(name)

Tamil

In [15]:
type(name)

str

In [19]:
win=True

In [20]:
print(win)

True

In [21]:
type(win)

bool

In [22]:
distance_in_km= 15

In [24]:
distance_in_meter= distance_in_km*20

In [25]:
print(distance_in_meter)

300

In [26]:
a=6
b=5
c=a+b

In [27]:
print(c)

11

In [29]:
d=a*b
print(d)

30

In [30]:
e=a/b
print(e)

1.2

In [31]:
psy="vibe"
trance="tribe"
music=psy+trance
print(music)

vibetribe

# creating a list

In [33]:
customers=["tamil",900,"krishna",50.70,"john",345]

In [34]:
print(customers)

['tamil', 900, 'krishna', 50.7, 'john', 345]

In [36]:
#CUSTOMER NAME, OWNS A CAR , INCOME
customer_list=[["tamil",True,1555],
              ["krishna",False,1111],
              ["john",True,1234]]
print(customer_list)

[['tamil', True, 1555], ['krishna', False, 1111], ['john', True, 1234]]

In [37]:
type(customer_list)

list

In [38]:
employees=("mac",5555,"kishore",1237,"messi",1000,"ronaldo",7777)
employees

('mac', 5555, 'kishore', 1237, 'messi', 1000, 'ronaldo', 7777)

In [39]:
employees[0]

'mac'

In [40]:
employees[1]

5555

In [41]:
employees[-1]

7777

In [42]:
employees[-2]

'ronaldo'

In [43]:
employees[-8]

'mac'

In [44]:
employees[-3]

1000

# SLICE A LIST

In [45]:
employees[1:4]

(5555, 'kishore', 1237)

In [46]:
employees[3:6]

(1237, 'messi', 1000)

In [48]:
employees[:]

('mac', 5555, 'kishore', 1237, 'messi', 1000, 'ronaldo', 7777)

In [51]:
employees[:5]

('mac', 5555, 'kishore', 1237, 'messi')

In [53]:
employees[1:4]

(5555, 'kishore', 1237)

# SUBSETTING & MANIPULATING

In [54]:
employees=("mac",5555,"kishore",1237,"messi",1000,"ronaldo",7777)
employees

('mac', 5555, 'kishore', 1237, 'messi', 1000, 'ronaldo', 7777)

In [60]:
employees[ :4]

('mac', 5555, 'kishore', 1237)

In [62]:
employees[1:3] = [1234,"martin",4321]

TypeError: 'tuple' object does not support item assignment