# FIRST DAY OF PYTHON

In [2]:
X=5

In [3]:
import os as os

In [4]:
getcwd()

NameError: name 'getcwd' is not defined

In [5]:
os.chdir("C:\\Users\\litle\\OneDrive\\Desktop\\woking direectory")

In [6]:
os.getcwd()

'C:\\Users\\litle\\OneDrive\\Desktop\\woking direectory'

In [7]:
os.listdir()

[]

# NATIVE DATA TYPES

In [32]:
a=10

In [33]:
type(a)

int

In [34]:
b=10.1

In [35]:
type(b)

float

# BOOLEN REALATIONAL OPERATORS ALWAYS RETURN BOOLEN VALUES

In [36]:
type(True)

bool

In [37]:
type(False)

bool

In [38]:
2>3

False

In [39]:
8>5

True

In [40]:
1==1

True

In [41]:
1==2

False

In [42]:
#LOGICAL OPERATORS AND BOOLEN VALUE

In [43]:
x=10

In [44]:
y=5

In [45]:
x%5

0

In [46]:
x>y and x%5==0

True

In [47]:
y>x or x%3==0 #evalutes false if the firt condition itself false

False

In [48]:
y>x or not(x%3==0)

True

In [49]:
print(bool(0)) #anything that evalutes to 0 is false

False

In [50]:
print(bool(1)) #anything that evalutes to other then 0 is false

True

In [51]:
print(bool(6))

True

# LIST

In [52]:
L=list()

In [53]:
L=[]

In [54]:
L.append([1,2,3,4,5,6,7,8,9]);print(L)

[[1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [55]:
m=[4]

In [56]:
L.append(m) #append always takes the elements

In [57]:
print(L)

[[1, 2, 3, 4, 5, 6, 7, 8, 9], [4]]

In [58]:
x=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

In [59]:
x[0]=2000  #INDEX STARTS FROM ZERO[0]

In [60]:
x

[2000, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [61]:
x=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

In [62]:
x[-1]=4000

In [63]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 4000]

In [64]:
y=x[0:8] # IT MEANS n-1

In [65]:
y

[1, 2, 3, 4, 5, 6, 7, 8]

In [66]:
x[-1]

4000

In [67]:
y=x[:]#FULL SLICE

In [68]:
y

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 4000]

In [69]:
x.append(222333444)

In [70]:
x #DIFFERENT MEMORY LOCATION

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 4000, 222333444]

In [71]:
y #DIFFERRENT MEMORY LOCATION #Y IS NOT SAME AS X

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 4000]

In [72]:
print(id(x)) #IT SHOWS X MEMORY LOCATION

1292812918912

In [73]:
print(id(y)) #IT SHOWS Y MEMORY LOCATION

1292812916736

In [74]:
x = [1,2,3,4,5,6,7,8,9,10]
for i in range[0,10]:
    print(i)

TypeError: 'type' object is not subscriptable

In [75]:
range[10]

TypeError: 'type' object is not subscriptable

In [76]:
x[::2] #EVERY SECOND ELEMENT

[1, 3, 5, 7, 9]

In [77]:
x[::1] #EVERY FIRST ELEMENT

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [78]:
x[::3] #EVERY THIRD ELEMENT

[1, 4, 7, 10]

In [79]:
y=[[1,2,3],[4,5,6],[7,8,9],[10,11,12],[13,14,15]]

In [80]:
y

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15]]

In [81]:
type(y)

list

In [82]:
y[0:2] #SUBSETTING THE LIST

[[1, 2, 3], [4, 5, 6]]

In [83]:
y[0][0:2] #SUBSETTING LIST IN FIRST LIST

[1, 2]

In [84]:
y[1][1:2] #IT WILL GO TO n-1

[5]

In [85]:
y[1][1:3]

[5, 6]

In [86]:
y[-1][-1]

15

In [87]:
y[0][0]

1

In [88]:
z=[10,20,30,"a","b","c","d","e"]

In [89]:
type(z)

list

In [90]:
z.insert(5,"t") #INSERT NEW ELEMENTS IN THE LIST

In [91]:
z

[10, 20, 30, 'a', 'b', 't', 'c', 'd', 'e']

In [92]:
z.insert(1,"k")

In [93]:
z

[10, 'k', 20, 30, 'a', 'b', 't', 'c', 'd', 'e']

In [94]:
z.index("k")

1

In [95]:
z.index("c")

7

In [96]:
z.index("e")

9

# STRINGS

In [97]:
my_string= "i am learning python today"

In [98]:
print(my_string)

i am learning python today

In [99]:
print(id(my_string))

1292813283040

In [100]:
my_string.upper()

'I AM LEARNING PYTHON TODAY'

In [101]:
my_string.lower()

'i am learning python today'

In [102]:
len(my_string)

26

In [103]:
type(my_string)

str

In [104]:
my_string[0:5]

'i am '

In [105]:
#STRING IS IMMUTABLE

In [106]:
print(my_string)
my_string[::-1]

i am learning python today

'yadot nohtyp gninrael ma i'

In [107]:
print(my_string)
my_string[::-2] #STARTS FROM LAST 0.....0-2=-2......-2-2=4......-4-6=6.....

i am learning python today

'ydtnhy nnalm '

In [108]:
my_string[-4:-1]

'oda'

In [109]:
my_string[::-2] #TAKE EVERY SECOND CHARACTER

'ydtnhy nnalm '

In [110]:
my_string*2

'i am learning python todayi am learning python today'

In [111]:
my_string+" "+my_string #IT GIVES SPACE

'i am learning python today i am learning python today'

In [112]:
my_string.find("am")

2

In [113]:
x=my_string.replace("i am","we are",2)
print(x)

we are learning python today

In [114]:
my_string.index("t") #IT GIVES FIRST OCCURANCE ONLY

16

In [115]:
my_string.index("py")

14

# TUPLES

In [116]:
my_tuple=(1,2,"three","four","five","6",True)
print(my_tuple)

(1, 2, 'three', 'four', 'five', '6', True)

In [117]:
my_tuple[3][0:2]

'fo'

In [118]:
my_tuple[0]=999999 #WILL GIVE RRROR AS TUPLE ARE IMMUTABLE i.e INPLACE CHANGES ARE NOT ALLOWED

TypeError: 'tuple' object does not support item assignment

In [119]:
type(my_tuple)

tuple

In [120]:
len(my_tuple)

7

In [121]:
my_tuple+=("Hundred",);my_tuple

(1, 2, 'three', 'four', 'five', '6', True, 'Hundred')

In [122]:
my_tuple

(1, 2, 'three', 'four', 'five', '6', True, 'Hundred')

In [123]:
tuple_full_slice

NameError: name 'tuple_full_slice' is not defined

In [124]:
#sorted(my_tuple) #doesnt work as element are differet type

# DICIONARIES
#characterised by key and value
#unordered
#key:value construct,what comes before colen is a key and what comes after colen is value
#keys have to be uniquewhereas values can be repeated
#keys can be int,float,str

In [125]:
marks={"Tamil":100,"aji":90,"Dharshan":80,"krishna":70};type(marks)

dict

In [126]:
marks["Tamil"]

100

In [127]:
marks["krishna"]

70

In [128]:
marks.get("aji")

90

In [129]:
len(marks)

4

In [130]:
marks["vj"]=89

In [131]:
marks

{'Tamil': 100, 'aji': 90, 'Dharshan': 80, 'krishna': 70, 'vj': 89}

In [132]:
len(marks)

5

In [133]:
sorted(marks.keys())

['Dharshan', 'Tamil', 'aji', 'krishna', 'vj']

In [134]:
marks.popitem()

('vj', 89)

In [135]:
marks.keys()

dict_keys(['Tamil', 'aji', 'Dharshan', 'krishna'])

In [8]:
del(marks["aji"])

NameError: name 'marks' is not defined

# UNARY FUNCTIONS

In [1]:
abs(-100)

100

In [4]:
import math
math.fabs(-100) #GIVES YOU fabs with floating point conversion

100.0

In [5]:
math.sqrt(100)

10.0

In [6]:
math.pow(100, 2)

10000.0

In [7]:
math.exp(1)

2.718281828459045

In [8]:
math.log10(100)

2.0

In [9]:
math.log2(8)

3.0

In [11]:
math.log1p(100)

4.61512051684126

In [12]:
x=99.99
math.ceil(x)

100

In [13]:
math.floor(x)

99

In [15]:
np.rint(x)

NameError: name 'np' is not defined

# BINARY UNIVERSAL FUNCTION

In [16]:
x1=(4,44,88)
x2=(2,2,9)

In [17]:
np.greater_equal(x1,x2)

NameError: name 'np' is not defined